# sets

In [ ]:
# Set difference
""""The set difference operation between two sets (set A, set B) gives us the elements
of set A which are not in set B.
A = {1,2,3}
B = {3,4}
A-B = {1,2}
B-A = {4}
The set difference A-B and B-A are different from each other."""

In [1]:
# inbuilt methods in set difference
set1= {"a","d","g","q","c"}
set2= {"w","e","r","t","d","q"}
set3=set2.difference(set1)
set4=set1.difference(set2)
print(set3)
print(set4)

{'r', 'e', 't', 'w'}
{'a', 'c', 'g'}

In [2]:
# Using - operator
print(set1-set2)
print(set2-set1)

{'a', 'c', 'g'}
{'r', 'e', 't', 'w'}

In [3]:
set1.intersection(set2)# common element from both set

{'d', 'q'}

#Symmetric difference in sets
The symmetric difference between two sets (set A , Set B) is the set of values 
from both sets that are not shared between the 2 sets. That is values that are
in either set A or set B but not in both.

A = {1,2,3}
B = {3,4,5,6}
Symmetric difference = {1,2,4,5,6}

In [4]:
#Symmetric_difference
set1.symmetric_difference(set2)

{'a', 'c', 'e', 'g', 'r', 't', 'w'}

In [5]:
#Symmetric difference Using ^ operator
set2^set3 #common element from both set

{'d', 'q'}

In [6]:
set2.union(set3)# Non common element from both set

{'d', 'e', 'q', 'r', 't', 'w'}